<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Registration Confirmation</title>
</head>

<body bgcolor="#C8DAC2">
<center>
<table width="605px" cellpadding="0" cellspacing="0">

	<tr>
    	<td width="605px" height="149px" valign="bottom" background="img/welcome_header.gif"></td>
	</tr>
    <tr>
        <td width="605px" height="245px" valign="top" background="img/content_bg.gif">
        	<center>
   	  		<table width="560px" align="center">
            	<tr>
                	<td>
                    	<p><font face="Verdana, Geneva, sans-serif" size="-1" color="#666666"><p>Hi {NAME}, <br>
                         Congratulations!! You have been successfully registered for E-Summit’15. 
                        </p>
                        <p>You have completed online registration for the Summit. Now, you can register for the events you wish to participate in. We shall be releasing our Competitions and Workshops shortly.
</p><p>You shall witness some very successful entrepreneurs sharing their stories of success and failure. Workshops shall be the interactive sessions helping you understand the tactics of business and entrepreneurship.
 And finally the competitions will be a test of your potential to make an impactful presence in the entrepreneurial world.</p><p>The annual flagship event of IIT Kanpur was effectuated with the intention to foster entrepreneurial initiatives aiming to provide a common platform to all those passionate about entrepreneurship. Sharing of experiences, discussion of ideas and opportunities will be a profuse learning experience for the active leaders in the savant community who can then disperse these ideas further.
</p><p>Stay tuned for further details about the competitions and the associated prizes.</p><p>Regards,<br>
Team E-Cell,<br>
IIT Kanpur<br>
</p></font></p>
                    </td>
                </tr>
            </table>
            </center>
        </td>
  </tr>
    <tr>
        <td width="605px" height="119px" valign="top" background="img/footer.gif" style="padding: 0; margin: 0;">
        
        	<center>
        	<table width="553px" align="center" cellpadding="0" cellspacing="0" style="vertical-align: top;">
            	<tr><td height="15px"></td></tr>
            	<tr>
                    <td>
                    
                    	<p><font face="Verdana, Geneva, sans-serif" color="#999999" size="-2">You received this e-mail because you registered for an event in e-summit 2015. If you think you should not have received this e-mail, please <a href="mailto:admin@ecelliitk.com" style="color: #03110A;"><font color="#03110A">contact admin@ecelliitk.com</font></a></font></p>
                    </td>
                </tr>
           </table>
        	</center>
            
        
      </td>
  </tr>

</table>
</center>
</body>
</html>
